/* styles/custom.css */
.custom-border {
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s ease;
  }
  
  .custom-border:hover {
    box-shadow: 0 4px 6px rgba(3, 86, 175, 0.1), 0 1px 2px rgba(0, 123, 255, 0.1);
    transition: box-shadow 0.3s ease;
  }

body{
    overflow-x: hidden;
}
  