/* styles/custom.css */
.custom-border {
    position: relative;
    border: 2px solid transparent;
  }
  
  .custom-border:hover {
    border-image: linear-gradient(to right, #007bff, #0066ff);
    border-image-slice: 1;
    border-image-width: 2px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    transition: border-image-width 0.3s;
  }
  
  .custom-border:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
body{
    overflow-x: hidden;
}
  