@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;

}

/* Estilo para limitar a largura do conteúdo */
.container {
  max-width: 1200px; /* Define a largura máxima da página */
  margin: 0 auto; /* Centraliza o conteúdo na página */
  padding: 0 ; /* Adiciona um espaço interno nas laterais para o conteúdo */
  overflow-x: hidden;
}

